.sidebar {
}

.sidebar__profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 0 40px;
}

.sidebar__first-row {
  display: flex;
  align-items: center;
}

.sidebar__name {
  margin: 0;
  padding-left: 16px;
  font-size: 20px;
  font-weight: 700;
  font-family: CabinetGrotesk-Bold;
}

.sidebar__edit-button {
  background-color: transparent;
  border-style: none;
  font-family: CabinetGrotesk-Bold;
  padding: 24px 0 8px 0;
}

.sidebar__logout-button {
  background-color: transparent;
  border-style: none;
  font-family: CabinetGrotesk-Bold;
  padding: 0;
  margin: 0;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  margin: 0 0 0 0;
}
