.sidebar {
}

.sidebar__profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sidebar__name {
  margin: 0;
  padding-left: 16px;
  font-size: 20px;
  font-weight: 700;
  font-family: CabinetGrotesk-Bold;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  margin: 0 0 0 40px;
}
