/* TODO: style the grid and the layout of the
 clothe items. and row of info*/
.clothes-section {
  position: relative;
  flex-grow: 1;
  margin: 0 0 0 116px;
}

.clothes-section__row {
  display: flex;
  margin: 16px 0 0 0;
  gap: 20px;
}

.clothes-section__items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  gap: 20px;
}

.clothes-section__title {
  font-family: CabinetGrotesk-Bold;
  font-weight: 700;
  font-size: 20px;
  margin: 0;
}

.clothes-section__add-button {
  margin: 0;
  max-height: 30px;
  border-style: none;
  background-color: transparent;
  font-family: CabinetGrotesk-Bold;
  font-weight: 700;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
}
